@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body,
html {
    height: 100vh;
    width: 100vw;
}

body {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: indigo;
    color: whitesmoke;
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {

    text-align: center;
    font-size: 12vw;
    line-height: 1em;
    z-index: 1000;
    font-weight: 900;
}

h2 span {
    font-size: 0.2em;
    letter-spacing: 0.4em;
    font-weight: 600;
    text-transform: uppercase;
}

a {
    font-size: 0.2em;
    font-weight: 400;
    color: whitesmoke;
    background-color: transparent;
}

.block {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 8px;
    background: indigo;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(255, 105, 180, 0.3);
    border-top: 1px solid rgba(127, 255, 212, 0.3);
}