/* RESET */ html{line-height:1.15;-webkit-text-size-adjust:100%;}body{margin:0;}main{display:block;}h1{font-size:2em;margin:0.67em0;}hr{box-sizing:content-box;height:0;overflow:visible;}pre{font-family:monospace,monospace;font-size:1em;}a{background-color:transparent;}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underlinedotted;}b,strong{font-weight:bolder;}code,kbd,samp{font-family:monospace,monospace;font-size:1em;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sub{bottom:-0.25em;}sup{top:-0.5em;}img{border-style:none;}button,input,optgroup,select,input{font-family:inherit;font-size:100%;line-height:1.15;margin:0;}button,input{overflow:visible;}button,select{text-transform:none;}button,[type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0;}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1pxdottedButtonText;}fieldset{padding:0.35em0.75em0.625em;}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal;}progress{vertical-align:baseline;}input{overflow:auto;}[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0;}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto;}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px;}[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit;}details{display:block;}summary{display:list-item;}template{display:none;}[hidden]{display:none;}
*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    /* border: 1px solid #00000050; */
}
body,html{
    width: 100%;
    height: 100%;
}
body{
    background: #03001e;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    box-sizing: content-box;
}
.avatar{
    z-index: 20;
    width: 75px;
    height: 75px;
    background-image: url("../IMG/AVATAR.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    border-radius: 50%;
}
#menu{
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 75px;
    height: 100%;
    background: #050800;
    background-image: radial-gradient(
        circle farthest-corner at 50% 38px,
        #db890d 10%,
        #914d00 15%,
        #03001e 80%
    );
}
#menu button{
    width: 55px;
    height: 55px;
    margin: 1em auto;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #03001e88;
    transition-duration: 100ms;
    background-image: radial-gradient(
        farthest-corner at 50% 0,
        #ffe81688 0%,
        transparent 80%
    );
}
#menu button:hover{
    border-top: 1px solid #03001e66;
    border-left: 3px solid #03001e88;
    border-right: 3px solid #03001e88;
    border-bottom: 5px solid #03001eaa;
    background-image: radial-gradient(
        farthest-corner at 50% 0,
        #ffe816aa 10%,
        transparent 80%
    );
}
#menu button:active{
    border-top: 3px solid #03001eaa;
    border-left: 2px solid #03001e88;
    border-right: 2px solid #03001e88;
    border-bottom: 0px;
    background-image: radial-gradient(
        farthest-corner at 50% 0,
        #914d0088 0%,
        transparent 70%
    );
    
}

#menu button img{
    max-width: 50px;
}
h1{
    font-size: 2.5em;
    margin: 10px auto 50px auto;
}
footer{
    z-index: 2;
    width: 100%;
    height: 30px;
    position: fixed;
    bottom: 0;
    text-align: center;
}
footer img{
    max-width: 50px;
    transition-duration: 100ms;
}
footer img:hover{
    max-width: 70px;
    margin-top: -10px;
}
.vinte5{
    width: 25%;
    float: left;
    margin: auto;
    height: 100%
}
.widfoot{
    max-width: 300px;
    transition-duration: 100ms;
}
.widfoot:hover{
    max-width: 320px;
}

main{
    padding-left: 80px;
    padding-top: 40px;
    height: 100%;
}

#sobre{
    /* display: none; */
    height: 80%;
    width: 60%;
    background-color: #03001e;
    background: -webkit-linear-gradient(#db890d, #914d00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#sobre p{
    text-align: justify;
}
#sobre img{
    max-height: 1em;
}
#habilidades{
    display: none;
    height: 100px;
    width: 100px;
    background-color: red;
    color: white;
    z-index: 10000;
}
#contato{
    display: none;
    height: 100px;
    width: 100px;
    background-color: blue;
    color: white;
    z-index: 10000;
}

/* ------------------------------------------- */

@media (orientation: portrait){
    .avatar{
        width: 65px;
        height: 65px;
    }
    #menu{
        width: 100%;
        height: 75px;
        background-image: linear-gradient(
            0deg,
            #03001e 1px,
            #914d00 3px,
            #db890d 5px,
            #914d00 7px,
            #03001e 9px
        );
        text-align: center;
    }
    #menu button{
        float: right;
        margin: 5px;
        background-image: radial-gradient(
            circle farthest-corner at 50% 0,
            #db890d,
            #914d00,
            #03001e
        );
    }
    #menu button:hover{
        background-image: radial-gradient(
            circle farthest-corner at 50% 0,
            #db890d,
            #914d00
        );
    }
    #menu button:active{
        background-image: radial-gradient(
            circle farthest-corner at 50% 0,
            #914d00,
            #db890d
        );
        
    }
    main{
        padding-top: 80px;
        padding-left: 0;
    }
}