/* RESET */ html{line-height:1.15;-webkit-text-size-adjust:100%;}body{margin:0;}main{display:block;}h1{font-size:2em;margin:0.67em0;}hr{box-sizing:content-box;height:0;overflow:visible;}pre{font-family:monospace,monospace;font-size:1em;}a{background-color:transparent;}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underlinedotted;}b,strong{font-weight:bolder;}code,kbd,samp{font-family:monospace,monospace;font-size:1em;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sub{bottom:-0.25em;}sup{top:-0.5em;}img{border-style:none;}button,input,optgroup,select,input{font-family:inherit;font-size:100%;line-height:1.15;margin:0;}button,input{overflow:visible;}button,select{text-transform:none;}button,[type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0;}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1pxdottedButtonText;}fieldset{padding:0.35em0.75em0.625em;}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal;}progress{vertical-align:baseline;}input{overflow:auto;}[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0;}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto;}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px;}[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit;}details{display:block;}summary{display:list-item;}template{display:none;}[hidden]{display:none;}
*{
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    /* border: 1px solid #00000050; */
}
body,html{
    width: 100%;
    height: 100%;
}
body{
    background: #03001e;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
}
.avatar{
    z-index: 20;
    width: 100%;
    height: 10%;
    background-image: url("../IMG/AVATAR.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-bottom: 2px dotted #fdfcef;
}
#menu{
    z-index: 1;
    position: fixed;
    left: 0;
    width: 10%;
    min-width: 60px;
    height: 100%;
    background: #050800;
    Color: #03001e;
    background-image: radial-gradient(
        circle farthest-corner at 50% 90px,
        #fdfcef 10%,
        #ffe816 15%,
        #db890d,
        #914d00,
        #03001e 80%
    );
}
#menu button{
    width: 100%;
    height: 2em;
    margin: 1em auto;
}
.but1{
    background-color: #fdfcef;
    background-image: url("/IMG/activity.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.but2{
    background-color: #ffe816;
    background-image: url("/IMG/lightbulb.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.but3{
    background-color: #db890d;
    background-image: url("/IMG/chat.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font-size: 2.5em;
    margin: 10px auto 50px auto;
}
footer{
    z-index: 2;
    width: 100%;
    height: 30px;
    position: fixed;
    bottom: 0;
    text-align: center;
    color: #03001e;
    font-size: 14px;
    vertical-align: middle;
}
footer img{
    max-width: 50px;
}
.vinte5{
    width: 25%;
    float: left;
    margin: auto;
    height: 100%
}
.widfoot{
    max-width: 300px;
}
.vinte5 a, .vinte5 a:visited{
    color: #914d00;
}

@media (orientation: portrait) or (max-width: 780px){
    *{border: 1px solid #ff0000}
    
}